<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="notepad3" />
	<package id="7zip" />
	<package id="powershell-core" />
	<package id="microsoft-windows-terminal" />

	<package id="googlechrome" />
	<package id="opera" packageParameters="/NoDesktopShortcut" />
	<package id="paint.net" />
	<package id="yubikey-manager" />

	<package id="dotnetcore-sdk" />
	<package id="dotnet-sdk" />

	<package id="git" packageParameters="/NoShellIntegration" />
	<package id="poshgit" />
	<package id="oh-my-posh" />
	<package id="gitkraken" />
	<package id="gpg4win" />
	<package id="gnupg" />

	<package id="azure-cli" />
	<package id="azure-data-studio" />
	<package id="azure-functions-core-tools" />
	<package id="bicep" />
	<package id="ilspy" />
	<package id="linqpad6" />
	<package id="kdiff3" />
	<package id="nuget.commandline" />
	<package id="perfview" />
	<package id="sysinternals" packageParameters="/InstallDir:C:\tools\sysinternals" />
	<package id="postman" />

	<package id="adobereader" />
	<package id="viber" />
	<package id="skype" />
	<package id="vlc" />
	<package id="spotify" />

	<package id="vscode" packageParameters="/NoDesktopIcon /NoQuicklaunchIcon" />
	<package id="sql-server-management-studio" />
</packages>
