<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="allway-sync" /> <!-- Automatically installs service. -->
	<package id="altcopy" />
	<package id="fsviewer" />
	<package id="handbrake.install" packageParameters="/NoIcon" />
	<package id="k-litecodecpackfull" />
	<package id="keybase" />
	<package id="teamviewer" />
</packages>
