<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="notepad3.install" />
	<package id="googlechrome" />
	<package id="opera" packageParameters="/NoDesktopShortcut" />
	<package id="paint.net" />

	<package id="git.install" packageParameters="/NoShellIntegration" />
	<package id="gitkraken" />

	<package id="azure-cli" />
	<package id="dotnetcore-sdk" />
	<package id="gpg4win" />
	<package id="gnupg" />
	<package id="ilspy" />
	<package id="kdiff3" />
	<package id="nuget.commandline" />
	<package id="perfview" />
	<package id="postman" />
	<package id="sysinternals" packageParameters="/InstallDir:C:\tools\sysinternals" />

	<package id="7zip.install" />
	<package id="adobereader" />
	<package id="viber" />
	<package id="skype" />

	<package id="vscode" packageParameters="/NoDesktopIcon /NoQuicklaunchIcon" />
	<package id="vscode-azurerm-tools" />
	<package id="vscode-csharp" />
	<package id="vscode-docker" />
	<package id="vscode-gitlens" />
	<package id="vscode-icons" />
	<package id="vscode-markdownlint" />
	<package id="vscode-powershell" />
	<package id="vscode-vsliveshare" />
	<package id="vscode-yaml" />

	<package id="sql-server-management-studio" />
</packages>
